*.opensdf
*.sdf
*.suo
/Tools/ADsdk/ADbase/Debug
/Tools/ADsdk/ADbase/Release
/Tools/ADsdk/ADsystem/Debug
/Tools/ADsdk/ADsystem/Release
/Tools/ADsdk/ADefx/ADefx_skeleton/Debug
/Tools/ADsdk/ADefx/ADefx_skeleton/Release
/Tools/ADsdk/ADefx/FlashADD/Debug
/Tools/ADsdk/ADefx/FlashADD/Release
/Tools/ADsdk/ADefx/FlashSUB/Debug
/Tools/ADsdk/ADefx/FlashSUB/Release
/Tools/ADsdk/ADefx/HeRaY/Debug
/Tools/ADsdk/ADefx/HeRaY/Release
/Tools/ADsdk/ADefx/Media/Debug
/Tools/ADsdk/ADefx/Media/Release
/Tools/ADsdk/ADefx/Plasma/Debug
/Tools/ADsdk/ADefx/Plasma/Release
/Tools/ADsdk/ADefx/RotoZoomer/Debug
/Tools/ADsdk/ADefx/RotoZoomer/Release
/Tools/ADsdk/ADefx/v2Dtest/Debug
/Tools/ADsdk/ADefx/v2Dtest/Release
